.form-control input:focus + label {
	top:-10px;
}
.form-control input {
	padding: 0px 16px 0px 92px;
}
.form-control input:focus {
	padding: 0px 16px;
}
.form-control input:focus + label {
	top: -1.75em;
}

